@font-face {
  font-family: "rotonda";
  src: url(../../fonts/rotondac.otf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "rotonda";
  src: url(../../fonts/rotondac-bold.otf);
  font-style: normal;
  font-weight: 700;
}