* {
  box-sizing: border-box;
  transition: 0.3s;
  font-family: "rotonda";
}

.content {
  background: url(../../img/content-bg.png) #f5f5f5;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: unset;
}

.wrap {
  max-width: 1740px;
  margin: 0px auto;
  padding-right: 20px;
  padding-left: 20px;
}

.roundBtn {
  display: block;
  border-radius: 50%;
  width: 45px;
  min-width: 45px;
  height: 45px;
  background: #FFFFFF;
  box-shadow: 0px 2.66667px 10.6667px rgba(14, 51, 69, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
}
.roundBtn span {
  color: #920D62;
  font-size: 19px;
}
.roundBtn:hover {
  background: #920D62;
}
.roundBtn:hover span {
  color: #ffffff;
}
.roundBtn--hovered {
  background: #920D62;
}
.roundBtn--hovered span {
  color: #ffffff;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #920D62;
  line-height: 140%;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 15px;
  color: #920D62;
  width: 100%;
}
.button .icon-cart {
  margin-right: 5px;
  color: #920D62;
}
.button:hover {
  background: #920D62;
  color: #ffffff;
}
.button:hover .icon-cart {
  color: #ffffff;
}

.title {
  font-size: 40px;
}
.title-purple {
  color: #920D62;
}

.catalog {
  display: block;
  max-width: 362px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.catalog__back {
  display: none;
}
.catalog__heading {
  padding: 42px 75px;
  background: url(../../img/catalog-heading-bg.png) #920D62;
  color: #ffffff;
  display: flex;
  align-items: center;
  max-width: 362px;
  min-width: 362px;
}
.catalog__heading--hidden {
  opacity: 0;
}
.catalog__heading span {
  font-size: 24px;
}
.catalog__heading-label {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 100%;
  margin-left: 10px;
}
.catalog__body {
  padding-bottom: 45px;
  background: #FFFFFF;
  box-shadow: 0px 8px 16px rgba(55, 56, 60, 0.08);
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  position: relative;
}
.catalog__item {
  position: relative;
}
.catalog__item-hidden {
  display: none;
}
.catalog__item:hover > .catalog__item-body {
  display: block;
}
.catalog__item-body {
  max-width: 362px;
  width: 100%;
  position: absolute;
  right: -100%;
  display: none;
  top: -10px;
  box-shadow: 0px 8px 16px rgba(55, 56, 60, 0.08);
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  padding-top: 10px;
  padding-bottom: 45px;
  background: #ffffff;
}
.catalog__item-heading {
  display: block;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 20px;
  padding-left: 25px;
  display: flex;
  align-items: center;
  background: #ffffff;
}
.catalog__item-heading:hover {
  background: #f5f5f5;
}
.catalog__item-heading:hover .icon-chevron {
  color: #920D62;
  transform: rotate(-90deg);
}
.catalog__item-heading img {
  margin-right: 12px;
}
.catalog__item-heading span {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
}
.catalog__item-heading .icon-chevron {
  display: block;
  margin-left: auto;
  font-size: 10px;
}

.splitBlock__wrap {
  padding: 0;
  padding-bottom: 30px;
}

.header {
  background: #ffffff;
}
.header__wrap {
  display: flex;
  align-items: center;
  padding-right: 20px;
  padding-left: 0;
}
.header--checkout {
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}
.header--checkout .header__wrap {
  justify-content: center;
  position: relative;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.header--checkout .header__logo {
  margin-right: 0;
  position: absolute;
  margin: 0px auto;
}
.header--checkout .selectric-language {
  margin-right: auto;
}
.header__menu {
  display: none;
}
.header__leftButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 490px;
  width: 100%;
  margin-left: 50px;
  margin-right: auto;
}
.header__logo {
  max-width: 90px;
  min-width: 90px;
  margin-right: 10px;
}
.header__logo img {
  width: 100%;
}
.header__language {
  margin-right: 10px;
}
.header__phoneInfo {
  display: flex;
  justify-content: space-between;
  max-width: 430px;
  width: 100%;
  margin-right: auto;
  margin-left: 20px;
}
.header__phoneInfo-item {
  display: flex;
  align-items: center;
}
.header__phoneInfo-item > span {
  font-size: 38px;
  color: #920D62;
  margin-right: 10px;
}
.header__phoneInfo-item:nth-child(2) {
  margin-left: 10px;
}
.header__phoneInfo-body {
  display: flex;
  flex-direction: column;
}
.header__phoneInfo-body img {
  max-width: 15px;
  margin-left: 5px;
}
.header__phoneInfo-body span {
  font-size: 18px;
  min-width: -webkit-max-content;
  min-width: max-content;
}
.header__phoneInfo-body span:not(:last-child) {
  margin-bottom: 5px;
}
.header__phoneInfo-body a {
  border-bottom: 1px dashed #333333;
  font-size: 22px;
  color: #333333;
  font-weight: bold;
  color: #333333;
  min-width: -webkit-max-content;
  min-width: max-content;
}
.header__search-body {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  background: #ffffff;
  z-index: 11;
  opacity: 0;
  box-shadow: 0px 8px 16px rgba(55, 56, 60, 0.08);
}
.header__search-body--show {
  display: block;
}
.header__search-wrap {
  position: relative;
}
.header__search-input {
  max-width: 1080px;
  margin: 0px auto;
  display: flex;
  align-items: center;
}
.header__search-input input {
  width: 100%;
  margin-right: 25px;
  padding: 20px 24px;
  border: 1px solid #BDBDBD;
  border-radius: 8px;
}
.header__search-close {
  position: absolute;
  right: 20px;
  font-size: 28px;
  top: 50%;
  transform: translateY(-50%);
}
.header__rightButtons {
  display: flex;
  margin-left: 20px;
}
.header__cart-button span {
  color: #e0e0e0;
}
.header__info {
  display: flex;
  align-items: center;
}
.header__info .icon-info {
  font-size: 24px;
  margin-right: 10px;
  color: #920D62;
}
.header__info-label {
  font-size: 20px;
}

.language .selectric .btn {
  font-size: 8px;
}

.person {
  position: relative;
}
.person__logScreen {
  position: absolute;
  background: #ffffff;
  z-index: 6;
  right: 0;
  width: 315px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-top: 10px;
  overflow: hidden;
  box-shadow: 0px 8px 16px rgba(55, 56, 60, 0.08);
  display: none;
}
.person__logScreen-heading {
  display: block;
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
  background: #920D62;
  color: #ffffff;
  font-weight: bold;
}
.person__logScreen-discount {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #F2F2F2;
  margin-bottom: 5px;
}
.person__logScreen-discount h5 {
  font-size: 16px;
  margin-bottom: 10px;
}
.person__logScreen-link {
  display: block;
  padding: 8px 20px;
}
.person__logScreen-link:hover {
  background: #f5f5f5;
}
.person__logScreen-row {
  display: flex;
}
.person__logScreen-col {
  margin-right: 20px;
}
.person__logScreen-col span {
  font-size: 14px;
}
.person__logScreen-purple {
  font-weight: bold;
  color: #920D62;
}
.person__logScreen--show {
  display: block;
}
.person__logScreen-item {
  display: block;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}
.person__logScreen-item:hover {
  background: #920D62;
  color: #ffffff;
}
.person__button {
  margin: 0px 15px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(168px, 1fr));
  grid-gap: 15px;
  padding-top: 30px;
}

.about__wrap {
  padding-left: 0;
}
.about__body {
  display: flex;
}
.about__heading {
  font-size: 20px;
  margin-bottom: 15px;
}
.about__list:first-child {
  margin-right: 40px;
}
.about__list li {
  font-size: 14px;
  color: #565656;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  line-height: 120%;
}
.about__list li:before {
  content: "";
  display: block;
  height: 8px;
  width: 8px;
  min-width: 8px;
  border-radius: 50%;
  background: #920D62;
  margin-right: 8px;
  margin-top: 4px;
}
.about__block {
  padding-top: 30px;
  padding-bottom: 7px;
  padding-right: 40px;
  padding-left: 40px;
  box-shadow: 0px 8px 16px rgba(55, 56, 60, 0.08);
  border-radius: 30px;
  width: 100%;
  background: #ffffff;
}
.about__block-button {
  display: none;
}
.about__block--big {
  max-width: 815px;
  flex-shrink: 1;
}
.about__block--small {
  margin-left: 25px;
  max-width: 450px;
  flex-shrink: 2;
}
.about__button {
  display: none;
}
.about__grid {
  display: flex;
}

.sliderBlock--splitted .sliderBlock__wrap {
  padding-left: 0;
  padding-right: 20px;
  padding-bottom: 0;
}
.sliderBlock__arrow {
  display: block;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  width: 50px;
  min-width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sliderBlock__arrow:hover {
  border-color: #F2C94C;
}
.sliderBlock__arrow span {
  font-size: 10px;
  color: #F2C94C;
}
.sliderBlock__arrow-next span {
  transform: rotate(-90deg);
}
.sliderBlock__arrow-prev span {
  transform: rotate(90deg);
}
.sliderBlock .slick-dots {
  display: flex;
}
.sliderBlock .slick-dots li {
  width: 100%;
  display: block;
  position: relative;
}
.sliderBlock .slick-dots li button {
  opacity: 0;
  height: 0;
}
.sliderBlock .slick-dots li:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  background: #e0e0e0;
  height: 1px;
  transition: 0.3s background-color;
}
.sliderBlock .slick-dots li.slick-active:before {
  height: 3px;
  background: #F2C94C;
  border-radius: 3px;
}
.sliderBlock__nav {
  display: flex;
  align-items: center;
}
.sliderBlock__dots {
  width: 100%;
}
.sliderBlock__arrows {
  display: flex;
  justify-content: space-between;
  max-width: 115px;
  width: 100%;
  margin-left: 70px;
}
.sliderBlock__wrap {
  padding-top: 30px;
  padding-bottom: 30px;
}
.sliderBlock__grid {
  position: relative;
  z-index: 5;
  position: relative;
}
.sliderBlock__grid .slick-list {
  overflow: visible;
  max-width: 100%;
}
.sliderBlock__grid .slick-track {
  padding: 15px 0;
}
.sliderBlock__grid .slick-slide {
  opacity: 0;
}
.sliderBlock__grid .slick-slide > div {
  margin: 0px 7px;
  margin-bottom: 14px;
}
.sliderBlock__grid .slick-active {
  opacity: 1;
}
.sliderBlock__grid--logout .slick-slide > div:nth-child(2) {
  display: none;
}
.sliderBlock__button--hidden {
  display: none;
}

.headRow {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headRow__button {
  max-width: 215px;
}
.headRow__button--hidden {
  display: none;
}
.headRow__heading {
  display: flex;
  align-items: center;
  max-width: 425px;
  width: 100%;
}
.headRow__heading-purple {
  color: #920D62;
}
.headRow__heading img {
  max-width: 40px;
  width: 100%;
  margin-right: 15px;
}
.headRow__heading > span {
  font-size: 32px;
  color: #920D62;
  max-width: 40px;
  width: 100%;
  margin-right: 15px;
}

.card {
  background: #FFFFFF;
  box-shadow: 0px 8px 16px rgba(55, 56, 60, 0.08);
  border-radius: 20px;
  padding: 20px 25px;
  padding-top: 48px;
  position: relative;
  max-width: 350px;
}
.card:hover .card__prompt {
  opacity: 1;
}
.card__button {
  min-width: 140px;
}
.card__partner {
  min-width: 200px;
  margin: 0px auto;
}
.card__labelRow {
  position: absolute;
  top: 12px;
}
.card__hover {
  display: none;
  position: absolute;
  background: #ffffff;
  padding: 20px 25px;
  width: 100%;
  left: 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 5;
  box-shadow: 0px 8px 16px rgba(55, 56, 60, 0.08);
}
.card__link {
  font-weight: bold;
  border-bottom: 1px solid;
}
.card__link--thin {
  font-weight: 400;
  margin: 0px auto;
  margin-top: 10px;
}
.card__link-hover {
  display: none;
}
.card__purple {
  color: #920D62;
}
.card__row {
  padding: 5px 0;
}
.card:hover .card__hover {
  display: block;
}
.card__img {
  display: block;
  height: 126px;
  width: 100%;
}
.card__img img {
  height: 100%;
  display: block;
  margin: 0px auto;
}
.card__prompt {
  font-size: 12px;
  color: #920D62;
  opacity: 0;
  display: block;
  text-align: center;
  transform: translateY(10px);
  position: relative;
  z-index: 6;
}
.card__heading {
  font-size: 16px;
  line-height: 140%;
  color: #333333;
  margin: 15px 0;
  display: block;
}
.card__heading:hover {
  text-decoration: underline;
}
.card__price {
  display: flex;
  flex-direction: column;
}
.card__price span {
  display: block;
  font-weight: bold;
}
.card__price--old {
  font-size: 14px;
  text-decoration: line-through;
  margin-bottom: 5px;
}
.card__price--new {
  font-size: 20px;
  color: #920D62;
}
.card__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__label {
  padding: 5px 15px;
  border-radius: 50px;
  display: inline-block;
  color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  margin-right: 3px;
}
.card__label--blue {
  background: #2F80ED;
}
.card__label--green {
  background: #00CA14;
}
.card__label--red {
  background: #EF4137;
}
.card__label--yellow {
  background: #F2C94C;
}
.card__button {
  max-width: 140px;
}
.card__mobile {
  display: none;
}

.info__item {
  display: flex;
  font-size: 14px;
  margin-bottom: 15px;
}
.info__gray {
  color: #4F4F4F;
  opacity: 0.7;
}
.info__subline {
  display: block;
  width: 100%;
  border-bottom: 1px dashed #485860;
  margin: 0px 5px;
}
.info__black {
  min-width: -webkit-max-content;
  min-width: max-content;
}

.amount {
  background: #FFFFFF;
  max-width: 120px;
  height: 30px;
  display: flex;
  border: 1.16352px solid #E0E0E0;
  overflow: hidden;
  border-radius: 15px;
}
.amount__button {
  background: #F2F2F2;
  border: none;
  padding: 8px;
  display: flex;
  align-items: center;
  color: #bdbdbd;
  font-size: 18px;
  cursor: pointer;
}
.amount__button:hover {
  color: #000000;
}
.amount input {
  border: none;
  min-width: 0;
  width: 100%;
  padding: 6px 12px;
  text-align: center;
  font-size: 18px;
}

.contacts__wrap {
  padding-top: 80px;
}
.contacts__body {
  position: relative;
  padding-bottom: 100px;
  padding-top: 100px;
  padding-left: 70px;
  height: 700px;
  margin-right: -20px;
  margin-left: -20px;
}
.contacts__heading {
  font-size: 32px;
  color: #920D62;
  margin-bottom: 15px;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.contacts__subheading {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.1em;
  display: block;
  margin-bottom: 35px;
}
.contacts__row {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  line-height: 26px;
  font-size: 18px;
}
.contacts__row span {
  min-width: 24px;
  margin-right: 15px;
  font-size: 20px;
  color: #920D62;
}
.contacts__phoneList-row {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin-bottom: 5px;
}
.contacts__phoneList-icons {
  display: flex;
  margin-right: 5px;
}
.contacts__phoneList-icons img {
  margin-right: 8px;
}
.contacts__button {
  margin-top: 20px;
  max-width: 215px;
}
.contacts__info {
  background: #ffffff;
  position: relative;
  z-index: 2;
  max-width: 470px;
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 8px 16px rgba(55, 56, 60, 0.08);
  border-radius: 30px;
}
.contacts__map {
  position: absolute;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.contacts__map img {
  height: 100%;
}

.footer {
  background: #ffffff;
}
.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer__left {
  display: flex;
  justify-content: space-between;
  max-width: 570px;
  min-width: 450px;
  width: 100%;
}
.footer__col {
  display: flex;
}
.footer__text {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}
.footer__icon {
  font-size: 26px;
  color: #920D62;
  margin-right: 15px;
}
.footer__phoneRow {
  display: flex;
  align-items: center;
  max-width: 435px;
  width: 100%;
}
.footer__phoneRow-icon {
  font-size: 38px;
  color: #920D62;
  margin-right: 10px;
}
.footer__logo {
  width: 100%;
  min-width: 50px;
  margin: 0px 20px;
}
.footer__logo img {
  display: block;
  margin: 0px auto;
  max-width: 130px;
  min-width: 80px;
  width: 100%;
}
.footer__phone {
  display: flex;
  font-size: 24px;
  margin-right: 20px;
  align-items: center;
}
.footer__phone:last-child {
  margin-left: auto;
}
.footer__phone img {
  margin-left: 10px;
}
.footer__right {
  max-width: 570px;
  width: 100%;
  min-width: 450px;
}

.margin {
  margin-left: 412px;
}

.catalogBlock__top {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}
.catalogBlock__pages {
  justify-self: center;
}

.pages {
  display: flex;
}
.pages--centered {
  justify-content: center;
}
.pages__item {
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  box-shadow: 0px 5px 11px rgba(55, 56, 60, 0.08);
  border-radius: 20px;
  display: block;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 60px;
  min-width: 60px;
  text-align: center;
}
.pages__item:hover, .pages__item--active {
  background: #920D62;
  border-color: #920D62;
  color: #ffffff;
}
.pages__body {
  display: flex;
}

.crumbs {
  display: flex;
  align-items: center;
  color: #4F4F4F;
}
.crumbs__item {
  font-size: 14px;
  line-height: 150%;
}
.crumbs__item:hover {
  text-decoration: underline;
}
.crumbs__item--disabled {
  color: #BDBDBD;
}
.crumbs__item--disabled:hover {
  text-decoration: none;
}
.crumbs__separator {
  margin: 0px 5px;
}

.filter {
  padding: 20px 17px;
  background: #fff;
}
.filter__mobileItem {
  display: none;
}
.filter__mobileLabel {
  display: none;
}
.filter__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filter__heading {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 5px;
}
.filter__heading-purple {
  color: #920D62;
  letter-spacing: normal;
}
.filter__left {
  display: flex;
  align-items: flex-end;
}
.filter__left .selectric-dropdown-group {
  margin-left: 40px;
  max-width: 210px;
  width: 210px;
}
.filter__switcher {
  display: flex;
  margin-top: 8px;
}
.filter__switcher span {
  font-size: 14px;
}
.filter__checkbox {
  margin: 0px 8px;
  position: relative;
}
.filter__checkbox input {
  position: absolute;
  opacity: 0;
  z-index: -2;
}
.filter__checkbox input:checked + label:before {
  transform: translateX(20px) translateY(3px);
}
.filter__checkbox label {
  display: block;
  width: 35px;
  height: 19px;
  box-shadow: 0px 8px 16px rgba(55, 56, 60, 0.08);
  border-radius: 25px;
  background: #ffffff;
  cursor: pointer;
}
.filter__checkbox label:before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #920D62;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(3px) translateY(3px);
  transition: 0.3s;
}
.filter__price {
  display: flex;
  height: 30px;
}
.filter__input {
  position: relative;
  width: 113px;
  height: 100%;
  border: 1px solid #DADEDF;
  border-radius: 7px;
  overflow: hidden;
}
.filter__input input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  padding: 10px 8px;
  font-size: 14px;
}
.filter__button {
  margin-left: 5px;
  border-radius: 7px;
  border: 4px solid #920D62;
  background: #ffffff;
  cursor: pointer;
}
.filter__button:hover {
  color: #ffffff;
  background: #920D62;
}
.filter__separator {
  display: block;
  width: 10px;
  height: 1px;
  background: #dadedf;
  margin: auto 5px;
}

.arrow {
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 40px;
  max-width: 200px;
}
.arrow__button {
  border-radius: 50%;
  background: #920D62;
  color: #ffffff;
  width: 66px;
  height: 66px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 12px;
}
.arrow__button span {
  font-size: 10px;
}
.arrow__label {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #333333;
}

.selectric-dropdown-order,
.selectric-dropdown-group {
  height: auto;
}
.selectric-dropdown-order .selectric,
.selectric-dropdown-group .selectric {
  border: 1px solid #F2F2F2;
  background: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 8px 16px rgba(55, 56, 60, 0.08);
  border-radius: 30px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 20px;
  padding-right: 20px;
}
.selectric-dropdown-order .selectric .label,
.selectric-dropdown-group .selectric .label {
  margin-left: 0;
  line-height: 17px;
  height: 17px;
}
.selectric-dropdown-order .selectric .btn,
.selectric-dropdown-group .selectric .btn {
  right: 20px;
}
.selectric-dropdown-order .selectric-items,
.selectric-dropdown-group .selectric-items {
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.results__wrap {
  padding-top: 20px;
}
.results__crumbs {
  padding-bottom: 20px;
}
.results__pages {
  padding-top: 20px;
  padding-bottom: 10px;
  justify-content: center;
}
.results__headRow {
  align-items: flex-end;
}
.results__label {
  font-size: 18px;
  line-height: 20px;
  color: #BDBDBD;
  min-width: -webkit-max-content;
  min-width: max-content;
}

.itemCard__body {
  display: flex;
}
.itemCard__split {
  display: flex;
  max-width: 895px;
  width: 100%;
}
.itemCard__block {
  background: #FFFFFF;
  border-radius: 20px;
  width: 100%;
  padding-bottom: 30px;
}
.itemCard__slider {
  max-width: 385px;
  min-width: 320px;
}
.itemCard__art {
  display: block;
  max-width: 163px;
  font-size: 12px;
  line-height: 12px;
  padding: 6px 8px;
  background: #F9F9F9;
  color: #828282;
  border-radius: 50px;
  margin-bottom: 10px;
}
.itemCard__comment {
  height: 110px;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 12px;
  color: #BDBDBD;
  margin-bottom: 13px;
}
.itemCard__heading {
  font-size: 16px;
  margin-bottom: 12px;
}
.itemCard__row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.itemCard__button {
  max-width: 195px;
  font-size: 21px;
  font-weight: bold;
  margin-left: 50px;
  background: #920D62;
  color: #ffffff;
}
.itemCard__button .icon-cart {
  color: #ffffff;
}
.itemCard__button:hover {
  background: #ffffff;
  color: #920D62;
}
.itemCard__button:hover .icon-cart {
  color: #920D62;
}
.itemCard__purple {
  margin-left: 33px;
  color: #920D62;
}
.itemCard__amount {
  max-width: 160px;
  height: 40px;
}
.itemCard__amount .amount__button {
  width: 40px;
  font-size: 22px;
}
.itemCard__price {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.itemCard__price-old {
  color: #4F4F4F;
  text-decoration: line-through;
  margin-bottom: 7px;
}
.itemCard__price-new {
  font-size: 28px;
  color: #920D62;
}
.itemCard__infoBlock {
  max-width: 480px;
  min-width: 380px;
  margin: 0px 20px;
  padding: 15px 20px;
}
.itemCard__desc {
  max-width: 370px;
  padding: 20px;
}
.itemCard__paragraph {
  font-size: 12px;
  line-height: 18px;
}
.itemCard__info .info__label {
  font-size: 12px;
}

.checkout__wrap {
  padding-top: 40px;
  padding-bottom: 80px;
}
.checkout__title {
  text-align: center;
  margin-bottom: 20px;
}
.checkout__heading {
  font-size: 24px;
  text-align: center;
}
.checkout__submit {
  max-width: 640px;
  margin: 0px auto;
  font-size: 20px;
  display: flex;
  background: #920D62;
  color: #fff;
}
.checkout__submit:hover {
  background: #fff;
  color: #920D62;
}
.checkout__optRow {
  display: flex;
  justify-content: space-between;
  max-width: 655px;
  margin: 0px auto;
  margin-top: 30px;
  padding-bottom: 40px;
}
.checkout__optRow .checkout__radio:nth-child(2) {
  margin: 0px 20px;
}
.checkout__optBlock {
  background: #FFFFFF;
  box-shadow: 0px 8px 16px rgba(55, 56, 60, 0.08);
  border-radius: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 30px;
}
.checkout__optBlock-nav {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}
.checkout__optBlock-link {
  font-weight: normal;
  font-size: 12px;
  line-height: 120%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #828282;
  margin: 0px 20px;
}
.checkout__optBlock-link:hover {
  color: #920D62;
}
.checkout__optBlock-link--active {
  font-weight: bold;
  color: #920D62;
}
.checkout__nav {
  padding-top: 45px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  max-width: 455px;
  margin: 0px auto;
}
.checkout__link {
  font-weight: bold;
  font-size: 20px;
  line-height: 100%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #333333;
}
.checkout__link:hover {
  color: #920D62;
}
.checkout__radio {
  position: relative;
}
.checkout__radio input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.checkout__radio input:checked + label:before {
  border-color: #920D62;
}
.checkout__radio input:checked + label:after {
  opacity: 1;
}
.checkout__radio label {
  margin-left: 30px;
  display: flex;
  align-items: center;
}
.checkout__radio label:before {
  content: "";
  display: block;
  width: 21px;
  min-width: 21px;
  height: 21px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  position: absolute;
  left: 0;
  transition: 0.3s;
}
.checkout__radio label:after {
  content: "";
  display: block;
  height: 11px;
  width: 11px;
  min-width: 11px;
  position: absolute;
  border-radius: 50%;
  left: 6px;
  background: #920D62;
  opacity: 0;
  transition: 0.3s;
}
.checkout__option {
  border-top: 1px solid #F2F2F2;
}
.checkout__address {
  max-width: 670px;
  margin: 0px auto;
  padding-bottom: 35px;
  padding-top: 35px;
}
.checkout__address-button {
  color: #000;
  display: flex;
  max-width: 250px;
  margin: 0 auto;
  font-size: 14px;
  margin-top: 25px;
}
.checkout__address .checkoutForm__item {
  max-width: 100%;
}
.checkout__address .selectric-checkoutForm__select {
  width: 100%;
  padding: 8.5px 30px;
  padding-right: 20px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 60px;
}
.checkout__check {
  width: 100px;
  height: 100px;
  background: #F2F2F2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #920D62;
  margin: 0px auto;
  margin-bottom: 40px;
}
.checkout__end {
  padding-top: 40px;
  padding-bottom: 0px;
  max-width: 680px;
  margin: 0px auto;
}
.checkout__end-button {
  max-width: 250px;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  margin: 0px auto;
  color: #FFFFFF;
  background: #920D62;
}
.checkout__end-button:hover {
  background: #fff;
  color: #920D62;
}
.checkout__end-heading {
  font-weight: normal;
  font-size: 32px;
  line-height: 120%;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
}
.checkout__end-subheading {
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #828282;
  margin-bottom: 35px;
}
.checkout__sum {
  margin-bottom: 25px;
  font-size: 18px;
  text-align: center;
  line-height: 140%;
  color: #333333;
}
.checkout__sum b {
  font-weight: bold;
  font-size: 24px;
  line-height: 100%;
  text-align: right;
  color: #920D62;
  margin-left: 15px;
}

.files {
  max-width: 1560px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 0px auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.files__item {
  margin: 20px 10px;
}
.files__item-heading {
  font-size: 20px;
  margin-bottom: 15px;
}
.files__item-heading span {
  margin-left: 10px;
  color: #920D62;
}
.files__item-delete {
  font-size: 12px;
}
.files__item-delete:hover {
  text-decoration: underline;
}
.files__item-input {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.files__item-input input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.files__item-input label {
  color: #920D62;
  display: block;
  padding: 15px 66px;
  font-size: 14px;
  background: #F7F9F9;
  border: 1px dashed #B5B3BD;
  border-radius: 10px;
  max-width: 235px;
  margin-right: 25px;
  cursor: pointer;
}
.files__item-input span {
  color: #BDBDBD;
  font-size: 14px;
}

.checkoutForm {
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 1560px;
  margin: 0px auto;
}
.checkoutForm__heading {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}
.checkoutForm__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  margin-bottom: 40px;
}
.checkoutForm__row--address {
  grid-template-columns: repeat(5, auto);
}
.checkoutForm__row--address .checkoutForm__item {
  min-width: 265px;
}
.checkoutForm__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 375px;
  min-width: 300px;
  width: 100%;
  margin: 0px auto;
}
.checkoutForm__item-label {
  font-size: 16px;
  line-height: 18px;
  color: #485860;
  margin-bottom: 10px;
  margin-left: 15px;
}
.checkoutForm__item--required .checkoutForm__item-label:after {
  content: "*";
  color: red;
  margin-left: 5px;
}
.checkoutForm__item input {
  width: 100%;
  padding: 20px 30px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 60px;
}
.checkoutForm__item input:focus {
  border-color: #000;
}
.checkoutForm__split {
  display: flex;
  min-width: 250px;
}
.checkoutForm__split .checkoutForm__item {
  min-width: 0;
  max-width: 120px;
}
.checkoutForm__split .checkoutForm__item:first-child {
  margin-right: 15px;
}
.checkoutForm .selectric-checkoutForm__select {
  width: 100%;
  padding: 8.5px 30px;
  padding-right: 20px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 60px;
}
.checkoutForm__opt {
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}
.checkoutForm__opt .checkout__radio {
  margin: 0px 30px;
}