@media screen and (min-width: 1740px) {
  .catalog {
    left: unset;
  }
  .catalog__heading--hidden {
    margin-left: 0;
  }

  .sliderBlock--splitted {
    margin-left: 412px;
  }
}
@media screen and (max-width: 1550px) {
  .grid {
    grid-template-columns: repeat(3, minmax(168px, 1fr));
  }

  .itemCard__body {
    flex-wrap: wrap;
  }
  .itemCard__desc {
    max-width: 100%;
    width: 100%;
    margin-top: 20px;
  }
  .itemCard__split {
    max-width: 100%;
  }
  .itemCard__infoBlock {
    max-width: 60%;
    margin-right: 0;
  }
  .itemCard__slider {
    max-width: 40%;
  }
}
@media screen and (max-width: 1350px) {
  .header__phoneInfo {
    max-width: 230px;
  }
  .header__phoneInfo-item:first-child {
    display: none;
  }
  .header__leftButtons {
    margin-left: 20px;
  }
  .header__search-input {
    margin-right: 50px;
    margin-left: 50px;
  }

  .catalog {
    margin-right: 20px;
    max-width: 320px;
    min-width: 320px;
  }
  .catalog__heading {
    min-width: 320px;
    max-width: 320px;
    padding: 40px 50px;
  }

  .margin {
    margin-left: 340px;
  }

  .about__list:first-child {
    margin-right: 20px;
  }
  .about__list:last-child {
    max-width: 300px;
  }
  .about__block {
    padding-right: 20px;
    padding-left: 20px;
  }
  .about__block--small .about__list {
    margin-right: 0;
  }
}
@media screen and (max-width: 1150px) {
  .catalog {
    display: none;
    top: unset;
  }
  .catalog--open {
    display: block;
  }
  .catalog__heading {
    display: none;
    cursor: pointer;
  }
  .catalog__heading--hidden {
    display: block;
    opacity: 1;
    max-width: 200px;
    min-width: 200px;
    padding: 40px 25px;
  }
  .catalog__heading--hidden span {
    font-size: 16px;
  }
  .catalog__body {
    max-width: 248px;
    height: 100%;
  }
  .catalog__item-heading span {
    font-size: 12px;
  }
  .catalog__item-heading .icon-chevron {
    font-size: 8px;
  }

  .catalogBlock__top {
    flex-wrap: wrap;
  }
  .catalogBlock__crumbs {
    width: 100%;
    padding-bottom: 24px;
  }

  .header--checkout .header__wrap {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header--checkout .header__logo {
    max-width: 50px;
  }
  .header__info {
    max-width: 150px;
  }
  .header__info-label {
    font-size: 16px;
  }
  .header__logo {
    min-width: 60px;
    max-width: 60px;
  }
  .header__leftButtons {
    max-width: 350px;
  }
  .header__phoneInfo {
    width: auto;
  }
  .header__phoneInfo a {
    font-size: 16px;
  }
  .header__phoneInfo span {
    font-size: 26px;
  }

  .sliderBlock--splitted .sliderBlock__wrap {
    padding-left: 20px;
  }

  .button {
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 100%;
  }

  .card {
    border: 1px solid transparent;
    padding-bottom: 8px;
    padding-top: 40px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .card__purple {
    color: #000000;
  }
  .card__button {
    font-size: 14px;
    max-width: 110px;
    min-width: 0;
  }
  .card__partner {
    min-width: 150px;
  }
  .card__amount {
    max-width: 100px;
  }
  .card__labelRow {
    top: 8px;
    left: 8px;
  }
  .card__labelRow-item {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .card__prompt {
    margin-left: 10px;
    transform: unset;
  }
  .card__heading {
    font-size: 13px;
    margin: 10px 0;
    margin-bottom: 5px;
  }
  .card__price {
    flex-direction: row;
    align-items: flex-end;
  }
  .card__price--old {
    margin-bottom: 0;
    margin-right: 10px;
    font-size: 12px;
  }
  .card__price--new {
    font-size: 16px;
  }
  .card__desktop {
    display: none;
  }
  .card__mobile {
    display: flex;
  }
  .card:hover {
    border: 1px solid #920D62;
  }
  .card:hover .card__hover {
    display: none;
  }

  .headRow__button {
    font-size: 16px;
  }

  .about__wrap {
    padding-left: 20px;
  }

  .footer__text {
    font-size: 14px;
    line-height: 22px;
  }
  .footer__phone {
    font-size: 18px;
  }
  .footer__phone img {
    max-width: 20px;
  }
  .footer__left {
    max-width: 400px;
    min-width: 370px;
  }
  .footer__right {
    max-width: 400px;
    min-width: 370px;
  }
  .footer__logo {
    max-width: 200px;
  }
  .footer__logo img {
    max-width: 80px;
  }
  .footer__phoneRow {
    max-width: 350px;
  }
  .footer__phoneRow-icon {
    font-size: 32px;
  }

  .margin {
    margin-left: 0;
  }

  .results__title {
    font-size: 32px;
  }
}
@media screen and (max-width: 900px) {
  .catalog__heading-label {
    margin-left: 0;
  }
  .catalog__heading--hidden {
    padding: 33px 24px;
    max-width: 155px;
    min-width: 155px;
  }
  .catalog__heading--hidden span {
    font-size: 12px;
  }
  .catalog__body {
    max-width: 220px;
  }

  .arrow__button {
    height: 50px;
    width: 50px;
  }
  .arrow__button span {
    font-size: 8px;
  }

  .header__leftButtons {
    max-width: 240px;
    margin-left: 24px;
  }
  .header__logo {
    min-width: 44px;
    max-width: 44px;
  }
  .header__language-heading span {
    font-size: 12px;
  }
  .header__language-heading .icon-chevron {
    font-size: 4px;
  }
  .header__info {
    align-items: flex-start;
    max-width: 95px;
  }
  .header__info-label {
    font-size: 12px;
  }
  .header__info .icon-info {
    font-size: 14px;
    margin-right: 5px;
  }
  .header__phoneInfo-item a {
    font-size: 14px;
  }
  .header__phoneInfo-item span {
    font-size: 18px;
    margin-right: 5px;
  }
  .header__search-close {
    position: absolute;
    right: 20px;
    top: 0;
  }

  .filter__left .selectric-dropdown-group {
    width: 155px;
  }
  .filter__left .selectric-dropdown-group .selectric-label {
    font-size: 12px;
  }

  .filter__input {
    width: 100px;
  }

  .person__logScreen {
    width: 250px;
  }

  .roundBtn {
    min-width: 40px;
    height: 40px;
    width: 40px;
  }
  .roundBtn span {
    font-size: 16px;
  }

  .person__button {
    margin: 0px 8px;
  }

  .contacts__body {
    padding-left: 25px;
    padding-top: 67px;
    padding-bottom: 67px;
    height: 445px;
  }
  .contacts__button {
    max-width: 140px;
    font-size: 10px;
  }
  .contacts__heading {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .contacts__subheading {
    font-size: 12px;
    margin-bottom: 22px;
  }
  .contacts__info {
    padding-top: 27px;
    padding-left: 35px;
    padding-bottom: 25px;
    padding-right: 25px;
    border-radius: 20px;
    max-width: 350px;
  }
  .contacts__row {
    font-size: 12px;
    margin-bottom: 15px;
    line-height: 17px;
  }
  .contacts__row span {
    font-size: 16px;
    margin-right: 10px;
    min-width: 16px;
  }
  .contacts__phoneList-row span {
    font-size: 12px;
  }
  .contacts__phoneList-icons img {
    max-width: 15px;
    margin-right: 5px;
  }

  .about__heading {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .about__list li {
    font-size: 12px;
  }
  .about__list li:before {
    height: 5px;
    width: 5px;
    min-width: 5px;
    margin-top: 5px;
  }
  .about__block {
    padding-left: 15px;
    padding-right: 15px;
  }
  .about__block--small {
    margin-left: 8px;
  }
  .about__list:first-child {
    margin-right: 15px;
  }

  .footer__col {
    display: none;
  }
  .footer__phone {
    font-size: 20px;
    margin-right: 0;
  }
  .footer__phone:last-child {
    margin-left: 33px;
  }
  .footer__phone img {
    max-width: 20px;
    margin-left: 5px;
  }
  .footer__left {
    max-width: 300px;
    min-width: 0;
    width: 100%;
    order: 3;
  }
  .footer__right {
    max-width: 300px;
    min-width: 0;
    order: 1;
  }
  .footer__logo {
    max-width: 100px;
    order: 2;
  }
  .footer__logo img {
    max-width: 80px;
    min-width: 0;
    width: 100%;
  }
  .footer__phoneRow {
    max-width: 290px;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer__phoneRow-icon {
    font-size: 28px;
    margin-right: 5px;
  }

  .itemCard__row {
    justify-content: space-between;
    max-width: 350px;
    width: 100%;
  }
  .itemCard__button {
    margin-left: 0;
  }
  .itemCard__purple {
    margin-right: 20px;
    margin-left: 0;
  }
  .itemCard__infoBlock {
    min-width: 300px;
  }

  .files {
    justify-content: space-between;
    padding-bottom: 0px;
  }
  .files__item-heading {
    font-size: 12px;
    margin-bottom: 12px;
  }
  .files__item-input label {
    padding: 12px 44px;
    max-width: 175px;
    font-size: 12px;
    margin-right: 12px;
  }
  .files__item-input span {
    font-size: 12px;
  }

  .checkout__optBlock {
    padding-bottom: 10px;
  }
  .checkout__address {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 730px) {
  .catalog__heading {
    display: none;
  }

  .grid {
    grid-template-columns: repeat(2, minmax(168px, 1fr));
  }

  .catalogBlock__top .selectric-dropdown-order {
    display: none;
  }
  .catalogBlock__pages {
    margin: 0px auto;
  }

  .checkoutForm__heading {
    font-size: 16px;
    margin-bottom: 25px;
  }
  .checkoutForm__item {
    max-width: 100%;
  }

  .filter {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .filter__mobileLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    max-width: 250px;
    width: 100%;
    padding: 12px 20px;
    background: #FFFFFF;
    border: 1px solid #920D62;
    box-sizing: border-box;
    box-shadow: 0px 8px 16px rgba(55, 56, 60, 0.08);
    border-radius: 30px;
    font-size: 12px;
  }
  .filter__mobileLabel img {
    margin-right: 8px;
  }
  .filter__mobileLabel:hover {
    border-color: #ffffff;
  }
  .filter__mobileItem {
    display: block;
  }
  .filter__body {
    position: absolute;
    display: none;
    flex-direction: column;
    background: #ffffff;
    z-index: 10;
    width: 100%;
    top: calc(100% + 5px);
    box-shadow: 0px 8px 16px rgba(55, 56, 60, 0.08);
    right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  .filter__body--show {
    display: flex;
  }
  .filter__left {
    flex-direction: column;
    align-items: flex-start;
  }
  .filter__left .selectric-dropdown-group {
    margin-left: 0;
    max-width: 100%;
    width: 100%;
    margin: 20px 0;
  }

  .arrow {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .wrap {
    padding-right: 10px;
    padding-left: 10px;
  }

  .header__wrap {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
    padding-left: 0;
  }
  .header__leftButtons {
    max-width: 105px;
  }
  .header__logo {
    max-width: 55px;
    min-width: 55px;
    position: relative;
    z-index: 2;
  }
  .header__menu {
    display: block;
    z-index: 10;
  }
  .header__menu-icon {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 15px;
    cursor: pointer;
  }
  .header__menu-icon--open {
    z-index: 4;
    justify-content: center;
  }
  .header__menu-icon--open span:first-child {
    transform: rotate(45deg) translateY(1px);
  }
  .header__menu-icon--open span:nth-child(2) {
    opacity: 0;
  }
  .header__menu-icon--open span:last-child {
    transform: rotate(-45deg) translateY(-1px);
  }
  .header__menu-icon span {
    height: 1px;
    width: 100%;
    background: #333333;
  }
  .header__menu-row {
    padding: 20px;
  }
  .header__menu-body {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    display: none;
    padding-top: 10px;
    box-shadow: 0px 8px 16px rgba(55, 56, 60, 0.08);
  }
  .header__menu-body .header__language {
    display: block;
  }
  .header__menu-body .catalog__heading {
    display: block;
    margin-left: 0;
    background: none;
    color: #920D62;
    padding: 0;
  }
  .header__menu-body .catalog__heading-label {
    font-size: 16px;
  }
  .header__menu-body .catalog__heading span {
    font-size: 14px;
  }
  .header__menu-body .header__language {
    margin-left: auto;
    max-width: -webkit-min-content;
    max-width: min-content;
  }
  .header__menu-body .header__info {
    display: flex;
    max-width: 190px;
    margin-bottom: 25px;
    align-items: center;
  }
  .header__menu-body .header__info span {
    font-size: 14px;
  }
  .header__menu-body .header__info .icon-info {
    font-size: 20px;
  }
  .header__menu-body .header__phoneInfo {
    display: block;
    margin-left: 0;
  }
  .header__menu-body .header__phoneInfo-item {
    display: flex;
    align-items: flex-start;
  }
  .header__menu-body .header__phoneInfo .icon-phone-round {
    font-size: 20px;
  }
  .header__menu-body .header__phoneInfo-body span {
    font-size: 14px;
  }
  .header__menu-body .header__phoneInfo-body img {
    width: 14px;
    margin: 0;
  }
  .header__menu-body--open {
    width: 100%;
    opacity: 1;
    z-index: 2;
    background: #ffffff;
    display: block;
  }
  .header__menu-infoRow {
    padding: 20px;
    border-top: 1px solid #e0e0e0;
  }
  .header__search-wrap {
    padding-top: 20px;
  }
  .header__search-input {
    margin-right: 10px;
    margin-left: 10px;
  }
  .header__info {
    display: none;
  }
  .header__language {
    display: none;
  }
  .header__phoneInfo {
    display: none;
  }

  .catalog {
    max-width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    display: none;
  }
  .catalog__body {
    padding-top: 45px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fit, 100px);
    grid-gap: 20px;
    max-height: 100vh;
    max-width: 100vw;
    width: 100vw;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    padding-right: 15px;
    padding-left: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .catalog__item {
    width: 100%;
    height: 100px;
    box-shadow: 0px 8px 16px rgba(55, 56, 60, 0.08);
    border-radius: 8px;
    margin: 0px auto;
    position: unset;
  }
  .catalog__item--second .catalog__item-body {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto-fit, 30px);
    grid-gap: 0;
  }
  .catalog__item--second .catalog__item {
    height: auto;
    box-shadow: unset;
  }
  .catalog__item--second .catalog__item .catalog__item-heading {
    align-items: flex-start;
    text-align: left;
    padding-top: 8px;
    border-radius: 0;
  }
  .catalog__item--second .catalog__item:hover {
    background: #f5f5f5;
  }
  .catalog__item:hover > .catalog__item-body {
    display: none;
  }
  .catalog__item-hidden {
    display: block;
  }
  .catalog__item-heading {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 8px;
    border-radius: 8px;
    height: 100%;
  }
  .catalog__item-heading span {
    font-size: 11px;
    line-height: 12px;
  }
  .catalog__item-heading img {
    margin: 0;
    margin-bottom: 10px;
    height: 40px;
  }
  .catalog__item-body {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fit, 100px);
    grid-gap: 20px;
    max-height: 100vh;
    height: 100vh;
    max-width: 100vw;
    width: 100vw;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 45px;
  }
  .catalog__item .icon-chevron {
    display: none;
  }
  .catalog__item--show {
    display: grid !important;
    z-index: 10;
  }
  .catalog__back {
    position: absolute;
    align-items: center;
    top: 13px;
    left: 15px;
    z-index: 6;
  }
  .catalog__back-second {
    display: none;
  }
  .catalog__back-third {
    display: none;
  }
  .catalog__back--show {
    display: flex;
  }
  .catalog__back--bold {
    font-weight: bold;
  }
  .catalog__back .icon-chevron {
    transform: rotate(90deg);
    display: block;
    font-size: 6px;
    margin-right: 5px;
  }

  .sliderBlock--splitted .sliderBlock__wrap {
    padding-right: 0;
    padding-left: 0;
  }

  .title {
    font-size: 24px;
  }

  .headRow__heading img {
    max-width: 20px;
    margin-right: 10px;
  }
  .headRow__heading-purple {
    font-size: 24px;
  }

  .about__wrap {
    padding-right: 0;
    padding-left: 0;
  }
  .about__body {
    flex-direction: column;
  }
  .about__grid {
    flex-direction: column;
  }
  .about__list {
    margin-right: 0;
    margin-bottom: 5px;
  }
  .about__list:nth-child(2) {
    display: none;
  }
  .about__button {
    display: flex;
    max-width: 215px;
    margin: 0px auto;
    margin-top: 25px;
  }
  .about__block {
    padding-top: 20px;
  }
  .about__block-button {
    display: flex;
    max-width: 215px;
    margin: 0px auto;
  }
  .about__block--small {
    margin-left: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding-bottom: 20px;
    max-width: 100%;
    border: 1px solid #F2F2F2;
  }
  .about__block--big {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .about__headRow {
    padding-bottom: 10px;
  }
  .about__headRow .headRow__button {
    display: none;
  }
  .about__headRow .headRow__heading {
    margin: 0px auto;
  }
  .about__headRow .headRow__title {
    margin: 0px auto;
  }

  .results__headRow {
    flex-direction: column;
    align-items: flex-start;
  }
  .results__title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .itemCard__wrap {
    padding-right: 0;
    padding-left: 0;
  }
  .itemCard__button {
    max-width: 150px;
    font-size: 16px;
  }
  .itemCard__slider {
    min-width: 250px;
  }
  .itemCard__row {
    max-width: 300px;
  }
  .itemCard__price-new {
    font-size: 20px;
  }
  .itemCard__price-old {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .itemCard__infoBlock {
    margin-left: 10px;
    min-width: 280px;
  }
  .itemCard__desc {
    margin-top: 10px;
  }
  .itemCard__amount {
    height: 30px;
    max-width: 130px;
  }
  .itemCard__purple {
    font-size: 12px;
  }
  .itemCard__comment {
    height: 90px;
  }
  .itemCard__heading {
    font-size: 12px;
  }
  .itemCard__crumbs .crumbs__item:nth-child(5),
.itemCard__crumbs .crumbs__separator:nth-child(4) {
    display: none;
  }
  .itemCard__crumbs .crumbs__item:nth-child(3) {
    color: #BDBDBD;
  }
  .itemCard__crumbs .crumbs__item:nth-child(3):hover {
    text-decoration: none;
  }

  .checkout__heading {
    font-size: 16px;
  }
  .checkout__radio {
    font-size: 14px;
  }
  .checkout__submit {
    font-size: 16px;
    max-width: 380px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .checkout__address .selectric-checkoutForm__select .selectric .label {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .itemCard__split {
    flex-direction: column;
  }
  .itemCard__infoBlock {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-left: 0;
    max-width: 100%;
  }
  .itemCard__slider {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    max-width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .results__title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .results__headRow {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .header__search-input input {
    font-size: 14px;
    padding: 12px 15px;
  }
  .header--checkout .header__wrap {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header--checkout .selectric-language {
    margin-right: 20px;
  }
  .header--checkout .header__logo {
    position: relative;
    margin: 0;
    margin-right: auto;
  }

  .person__logout {
    width: 200px;
  }
  .person__logout-item {
    font-size: 12px;
  }

  .catalog__body {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
  }
  .catalog__item-body {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
  }

  .card {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 14px;
  }
  .card__row.card__mobile {
    flex-direction: column-reverse;
  }
  .card__row.rowReverse {
    flex-direction: column;
  }
  .card__prompt {
    margin: 0;
    transform: translateY(5px);
  }
  .card__purple {
    color: #920D62;
  }
  .card__img {
    height: 75px;
  }
  .card__price {
    justify-content: center;
    margin: 0px auto;
  }
  .card__heading {
    margin: 8px 0;
    height: 35px;
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
    text-align: center;
  }
  .card__link {
    font-size: 11px;
  }
  .card__button {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .card:hover .card__link-hover {
    display: inline-block;
    margin-right: auto;
  }

  .arrow__button {
    height: 40px;
    width: 40px;
    margin-bottom: 15px;
  }
  .arrow__button span {
    font-size: 6px;
  }
  .arrow__button__label {
    font-size: 12px;
  }

  .catalogBlock__wrap {
    padding-right: 0px;
    padding-left: 0px;
  }

  .filter {
    padding-right: 0;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 0px;
    background: transparent;
  }
  .filter__mobileItem {
    max-width: 170px;
    width: 100%;
  }
  .filter__mobileItem .selectric {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    background: #ffffff;
  }
  .filter__mobileItem .selectric .btn {
    right: 10px;
    font-size: 6px;
  }
  .filter__mobileItem .selectric .label {
    font-size: 12px;
    margin-right: 10px;
  }
  .filter__mobileLabel {
    max-width: 170px;
    margin-left: 8px;
  }

  .pages__item {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 33px;
    min-width: 50px;
    width: 50px;
  }
  .pages__button {
    line-height: 3px;
  }

  .amount {
    height: 24px;
  }
  .amount__button {
    padding: 5px 7px;
    font-size: 14px;
  }
  .amount input {
    font-size: 14px;
    padding-right: 8px;
    padding-left: 8px;
  }

  .slick-slide > div:last-child {
    display: none;
  }

  .sliderBlock__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7px;
  }
  .sliderBlock__grid .card {
    display: none;
  }
  .sliderBlock__grid .card:nth-child(1), .sliderBlock__grid .card:nth-child(2) {
    display: block;
  }
  .sliderBlock__button--hidden {
    display: block;
    text-align: center;
    margin-top: 30px;
  }

  .headRow__button {
    display: none;
  }

  .contacts__info {
    margin: 0px auto;
    width: 100%;
    max-width: 345px;
  }
  .contacts__body {
    height: 600px;
    padding-left: 0;
    padding-bottom: 40px;
    display: flex;
    align-items: flex-end;
    margin-right: -10px;
    margin-left: -10px;
  }

  .footer__phone {
    font-size: 12px;
  }
  .footer__phone:last-child {
    margin-left: 25px;
  }
  .footer__phone img {
    max-width: 15px;
  }
  .footer__logo {
    max-width: 60px;
  }
  .footer__logo img {
    max-width: 50px;
  }
  .footer__phoneRow-icon {
    font-size: 20px;
  }

  .checkout__wrap {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .checkout__optBlock {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .checkout__optRow .checkout__radio:nth-child(2) {
    margin: 0px 15px;
  }
  .checkout__radio {
    font-size: 11px;
  }
  .checkout__nav {
    padding-top: 30px;
    padding-bottom: 25px;
  }
  .checkout__link {
    font-size: 14px;
  }
  .checkout__address-button {
    max-width: 100%;
  }
  .checkout__address .selectric-checkoutForm__select {
    padding-top: 0;
    padding-bottom: 0;
  }

  .checkoutForm__opt {
    max-width: 300px;
    margin: 0px auto;
    justify-content: space-between;
  }
  .checkoutForm__opt .checkout__radio {
    margin: 0;
  }
}